<section
  class="vh-100 bg-image"
  style="
    background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');
  "
>
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <br />
          <div *ngIf="error" class="font-weight-bold text-danger">
            {{ error }}
          </div>
          <div class="card" style="border-radius: 15px">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Créer un compte</h2>
              <form name="inscription" #f="ngForm" (ngSubmit)="onSubmit()">
                <div class="form-outline mb-4">
                  <label class="form-label" for="name">Votre Nom</label>
                  <input
                    required
                    type="text"
                    id="name"
                    [(ngModel)]="inscription.name"
                    name="name"
                    class="form-control form-control-lg"
                  />
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="email">Votre Email</label>
                  <input
                    required
                    type="email"
                    id="email"
                    [(ngModel)]="inscription.email"
                    name="email"
                    class="form-control form-control-lg"
                  />
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="password">Mot de passe</label>
                  <input
                    type="password"
                    id="password"
                    required
                    [(ngModel)]="inscription.password"
                    name="password"
                    class="form-control form-control-lg"
                  />
                </div>

                <div class="d-flex justify-content-center">
                  <button
                    type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"
                    [disabled]="!f.form.valid"
                  >
                    S'inscrire
                  </button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">
                  Avez vous déjà un compte?
                  <a routerLink="/connexion" class="fw-bold text-body"
                    ><u>Connectez-vous</u></a
                  >
                </p>
              </form>
            </div>
          </div>
          <br /><br />
        </div>
      </div>
    </div>
  </div>
</section>
